<div class="container">
        <h1>Contacto</h1>


<div id="texto" #textos>
    <p appResaltado>
        Esta es la pagina de contacto, puedes enviarnos cualquier duda
    </p>
</div>



        <!-- Tamaño del slider:
        <input type="number" [(ngModel)]="widthSlider"/>

        <button (click)="cargarSlider()">Cargar slider</button>
        <button (click)="resetearSlider()">Resetear slider</button>

        
        <div *ngIf="anchuraToSlider">
             
        <slider [anchura]="anchuraToSlider"
                [etiquetas]="captions"
                (conseguirAutor)="getAutor($event)"
        ></slider> pasarle una variable al comp. hijo
    </div>

     <div *ngIf="autor">
            {{autor.nombre   + " " + autor.website}}
    </div>  -->
    
</div>

<!--al activarse el conseguirAutos automaticamente se activa el de getAutor y se pasa el JSON como parametro-->
<!--ViewChilds: nos permiten acceder a partes de codigo que nos interesen simplemente poniendole un nombre al elemento-->