<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus itaque beatae corporis at laudantium dolores minus quaerat, labore odio possimus adipisci consectetur cumque deleniti. Fugiat aliquam laudantium dignissimos tenetur aut.
    Eligendi, quaerat ipsam error iure porro perferendis maxime. Eum quaerat aliquid similique libero soluta quos laudantium animi incidunt obcaecati, magnam dolore ipsum nulla assumenda qui. Praesentium autem corrupti dolor officia!
    Nam accusamus odio consequuntur totam recusandae! Tempore, dolorem! Consequatur laborum suscipit error atque tempore exercitationem earum a. Qui, quasi nam facere, quod id explicabo harum culpa doloremque nulla, est cum.
    Doloremque consequatur cum impedit porro, culpa praesentium eos adipisci quos, nostrum rerum laborum officia nemo debitis facere veritatis soluta et qui voluptas ex amet quam, placeat aspernatur sequi. Molestias, at.
    Aliquid dolores facilis natus placeat. Ut ullam, facere nemo possimus velit quae tenetur asperiores nulla! Deleniti sit aut magni culpa, tempora, hic veritatis voluptatibus iusto, similique rerum dignissimos nihil atque.
</p>
</article>
