<div class="container" *ngIf="project"> <!--Esperar a que proyecto este cargado-->
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'">
        El proyecto se ha creado correctamente, puedes verlo <a [routerLink]="['/proyecto',
        save_project._id]"><b><i>aquí</i></b></a>
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
            El proyecto NO SE HA PODIDO CREAR
        </div>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

        <p>
            <label for="name"><b><i>Nombre</i></b></label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name"
            required />
            <span class="form_error" *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>

        <p>
                <label for="description"><b><i>Descripcion</i></b></label>
                <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.
                description"  required ></textarea>
                <span  class="form_error" *ngIf="description.touched && !description.valid">
                        La descripcion es obligatoria
                    </span>
        </p>

        <p>
                <label for="category"><b><i>Categoria</i></b></label>
                <input type="text" name="category" #category="ngModel" [(ngModel)]="project.
                category"  required  />
                <span class="form_error" *ngIf="category.touched && !category.valid">
                        La categoria es obligatoria
                    </span>
        </p>
            

        <p>
                <label for="year"><b><i>Año de lanzamiento</i></b></label>
                <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required />
                <span class="form_error" *ngIf="year.touched && !year.valid">
                    Solo se aceptan numeros
                </span>
        </p>

        <p>
                <label for="langs"><b><i>Lenguajes utilizados</i></b></label>
                <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" 
                required />
                <span class="form_error" *ngIf="langs.touched && !langs.valid">
                        Los lenguajes son obligatorios
                    </span>
        </p>

        <p>
                <label for="image"><b><i>Imagen del proyecto</i></b></label>

                <span class="image" *ngIf="project.image" style="float:none;">
                    <img src="{{url+'get-image/'+project.image}}" style="width:100px">
                </span><br>

                <input type="file" name="image" placeholder="Subir imagen" (change)=
                "fileChangeEvent($event)" />
        </p>

        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
    </form>
</div>

<!--(change): Al hacer algun cambio en un input, lanzar un metodo que tengamos en el componente-->
<!--$event captura todos los datos del input, fichero, nombre etc..-->