

<header>
<ul >
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"><b><i>Sobre mi</i></b></a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']"><b><i>Proyectos</i></b></a></li>
    <li id="logo"><a href="#">MS</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']"><b><i>Crear proyecto</i></b></a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']"><b><i>Contacto</i></b></a></li>
</ul>
</header>


<section id="content">
<router-outlet></router-outlet>
</section>


<footer>
    Master en Javascript & Angular &copy;
</footer>







































<!--1. Maquetar una web
    2. Hacer diferentes secciones, cada una en una pagina distinta
     a. Sobre mi
     b. Proyectos
     c. Crear Proyectos
     d. Contacto
    
    3. En la seccion de crear proyectos, hacer un formulario que guarde nuevos proyectos en el backend(NodeJS) usando el API REST
    4. Listar los proyectos en la seccion de proyectos.-->





<!--PASOS: -->
    <!--1.Confdiguracion app.routing.ts
        2.Agregar nav-bar al component
        3.Agregar Estilos/Fuentes
        4.Estilos Generales
        5.Estilos de la cabecera
        6.Logo
        7.Contenedor Principal
        8.Footer
        9. Pagina Sobre mi
        10.Modelos
        11.Servicios
        12.Formulario para crear proyectos
        13.Maquetar Formulario
        14.Validar formulario
        15.Guardar nuevos proyectos en el portafolio
        16.Subir imagenes de los proyectos
        17.Listado de proyectos del portafolio
        18.Metodo en el backend para devolver imagenes
        19.Maquetar el listado de proyectos
        20.Pagina de detalle de los proyectos
        21.Mostrar informacion en el detalle
        22.Borrar Proyectos
        23.Actualizar proyectos
        24.    -->